{% load static %}
		<!-- begin:: Header Mobile -->
		<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
			<div class="kt-header-mobile__logo">
				<a href="/">
					<img alt="AD Signum logo" style="height:100px; margin-top: 15px" src="{% static 'shared/keen/assets/media/logos/ad_signum.svg' %}" />
				</a>
			</div>
			<div class="kt-header-mobile__toolbar">
				<!-- AL QUITAR EL HEADER MENU QUITO EL BOTON DE MOBILE
				<button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
				-->
				<button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more"></i></button>
			</div>
		</div>
		<!-- end:: Header Mobile -->
