{% load static %}
		<!-- begin::Offcanvas Toolbar Profile -->
		<div id="kt_offcanvas_toolbar_profile" class="kt-offcanvas-panel">
			<div class="kt-offcanvas-panel__head">
				<h3 class="kt-offcanvas-panel__title">
					Usuario
				</h3>
				<a href="#" class="kt-offcanvas-panel__close" id="kt_offcanvas_toolbar_profile_close"><i class="flaticon2-delete"></i></a>
			</div>
			<div class="kt-offcanvas-panel__body">
				<div class="kt-user-card-v3 kt-margin-b-30">
					<div class="kt-user-card-v3__avatar">
						<img src="{% static 'shared/keen/assets/media/users/default.jpg' %}" alt="" />
					</div>
					<div class="kt-user-card-v3__detalis">
						<a href="" class="kt-user-card-v3__name">
                            {{ request.user.first_name }} {{ request.user.last_name }}
						</a>
						<div class="kt-user-card-v3__info">
							<a href="" class="kt-user-card-v3__item">
								<i class="flaticon-email-black-circular-button kt-font-brand"></i>
								<span class="kt-user-card-v3__tag">{{ request.user.email }}</span>
							</a>
							<a href="/logout/" class="kt-user-card-v3__item">
								<i class="flaticon-logout kt-font-brand"></i>
								<span class="kt-user-card-v3__tag">Logout</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- end::Offcanvas Toolbar Profile -->
